@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

    


*{
    margin: 0;
    padding: 0;
 

}
#slider{
    margin-left: 80px;
}
p, h2, span, label{
    color:#333;
    font-family: 'Open Sans',  sans-serif;
}
h2{
    text-align: center;
}

#global{
   
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.76);
    box-shadow: 0px 0px 2px rgb(214, 212, 212);
}
#logo {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 70px;
    letter-spacing: 10px;
    line-height: 60px;
    
    margin: 20px 50px 20px 50px;
    

}
#logo h4{
    font-weight: 900;
}
#logo a{
    text-decoration: none;
    color: rgb(34, 34, 34);
}

#container{
    margin-top: 60px;
}
#menu{
    display: block;
    margin: 0 auto;
    font-family: 'Open Sans',  sans-serif;
    width: 73%;
    text-transform: uppercase;
    margin-bottom: 5px;
    z-index:2; 
   
  
}
#menu ul{
   line-height: 46px;
  
   
}
#menu ul li{
    height: 46px;
    display: inline-block;
    transition: all 300ms;  
}

#menu a{
    display: block;
    color:#333;
    text-decoration:none;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 17px;
   
}
@media (min-width:480px){
#content{
    display: flex;
}
}
.post{
    padding: 10px;
}
#posts{
flex: 2;
width: 60%;
font-family:  'Roboto', sans-serif;
}
.post h2{
    font-size: 30px;
    margin: 20px 0px 5px 0px;   
}
.post p{
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 22px;
    text-align: justify;
    color:#333;
}
.read-more{
  display: block;
  text-align: center;
  font-size: 13px;
  padding: 10px;
   
  color: rgb(226, 225, 225);
  text-decoration: none;
  margin-top: 10px;
  width: 70px;
  margin-bottom: 20px;
}
#sidebar{
   
    margin-left: 10%;
    flex: 1;
    font-family:  'Roboto', sans-serif;
    width: 35%;
    padding: 20px;
   
}
#sidebar h4{
    margin-top: 30px;
	margin-bottom:20px;
	text-align: center;
	line-height: 10px;
	color:#333;
	background: url("../img/lines.png") repeat-x;
}
#sidebar img{
    width: 100%;
}
#sidebar h4 span{
background-color:  rgb(233, 227, 227, );
padding: 5px;
}
#sidebar p{
    font-size: 15px;
    text-align: justify;
}

#login label{
    display: block;
   

}
form input[type="text"],
form input[type="password"],
form input[type="email"]{


padding: 5px;
border-color: rgb(31, 30, 30);
border:1px solid #ccc;
margin-bottom:10px;
width: 80%;

}


form input[type="submit"]{
    background:#333;
    padding: 10px;
    border: 2px solid gray;
    color: rgb(226, 225, 225);
    cursor: pointer;
}
footer{
    color: rgb(226, 225, 225);
    height: 40px;
    background-color: #333;
    margin: 0px auto;
    width: 72%;
    padding-left: 20px;
    margin-top: 50px;
    line-height: 47px;
}

footer p{
    color:rgb(226, 225, 225);
}
.bx-viewport{
    height: 400px !important;
    
}


#selector-theme{
   
 
   display: block;
   float: right;
   margin-right: 235px;
   margin-top: 40px;
    
}

#to-blue, 
#to-bordo,
#to-gray{
width: 20px;
height: 20px;
margin: 7px;
border: 1px solid white;
cursor: pointer;
}
#to-blue{
    background: darkblue;
}
#to-bordo{
    background: rgb(117, 50, 59);
}
#to-gray{
    background: rgb(71, 71, 71);
}
.to-top{
    color: #333;
    text-decoration: none;
    display: block;
    float: right;
    padding-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
 }

 #acordeon{
     margin-top: 20px;
 }
 #box{
    margin-top: 60px;
    width: 600px;
     }
 #reloj{
     font-weight: bold;
     font-family: Arial, Helvetica, sans-serif;
     color:#333;
     border: 5px dashed black;
     width: 60%;
     padding:30px;
     margin: 0px auto;
     text-align: center;
 }

#subject{
    width: 500px;
    height: 200px;
}

